// import des paramètres

@import "../sass/settings.scss";
@import "../sass/layout/loader.scss";
@import "../sass/layout/header.scss";
@import "../sass/layout/footer.scss";
@import "../sass/menu.scss";


// Premier bloc du site

.header-sous-bloc {

    display: flex;
    justify-content: center;
    padding: 15px 0;
    gap: 10px;
    font-family: $font-text;

    input {
        position: relative;
        width: 30%;
        margin: -2px 0;
        font-weight: 600;
        font-size: 0.9em;
        border: 2px solid transparent;
        background-color: $color-fond-gris;
        transition: border 0.2s linear;

        &::placeholder {
            color: $color-police-darkgrey;
        }

        &:focus {

            outline: none;
            border-bottom: 2px solid $color-grey;
        }

        &:hover {
            border-bottom: 2px solid $color-grey;
            cursor: pointer;
        }
    }

}

.top-bloc {

    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $color-fond-whitegrey;
    padding: 30px;
    gap: 20px;

    h2 {
        font-family: $font-text-bold;
        font-weight: 900;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: -5px;
    }

    p {
        font-family: $font-text;
        margin: 0 auto;
        text-align: center;
        color: $color-midgrey;
        font-weight: 500;
        font-size: 1.05em;
    }

    button {
        font-family: $font-text;
        padding: 15px 15px;
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 25px;
        border-radius: 30px;
        border: none;
        font-weight: 500;
        font-size: 1em;
        color: $color-white;
        background-image: linear-gradient(to top, $color-primary, $color-secondary);
        box-shadow: 0px 3px 10px $color-grey;
        transition: 0.4s ease;

        &:hover {
            cursor: pointer;
            filter: brightness(1.15);
            box-shadow: 0px 2px 8px 4px $color-grey;
        }
    }

}

// Deuxième bloc du site

.mid-bloc {

    background: $color-white;
    padding: 20px;
    font-family: $font-text;

    h2 {
        margin: 0 auto;
        font-weight: 600;
        font-family: $font-text-bold;
        margin: 20px 0;
    }


    .bloc-fonctionnement {
        display: flex;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 1px $shadow-light-grey;
        background: $color-fond-whitegrey;
        padding: 25px;
        width: 83%;
        margin: 0 auto;
        margin-left: 10px;
        margin-bottom: 20px;

        .numero-fonctionnement {

            position: relative;

            p {
                position: absolute;
                left: -37px;
                margin: 0 auto;
                padding: 4px 8px;
                border-radius: 30px;
                color: $color-white;
                background: $color-primary;
                font-size: 0.8em;
                font-weight: 500;
            }

        }

        p {
            margin: 0;
            font-weight: 600;

            i {
                font-size: large;
                margin-left: 10px;
                margin-right: 20px;
            }
        }

        &:nth-child(4) {
            margin-bottom: 50px;
        }
    }

}

// Troisième bloc du site

.restaurants {

    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 70px;
    background: $color-fond-whitegrey;
    gap: 18px;

    h2 {

        font-family: $font-text-bold;
        margin: 0;
        margin-top: 35px;
        margin-bottom: 5px;

    }

    .links-restaurants {

        text-decoration: none;
        border-radius: 20px 20px 20px 20px;
        color: $color-police-darkgrey;

        &:visited {
            color: $color-police-darkgrey;
        }

        &:active {
            color: $color-police-darkgrey;
        }

        .card {
            position: relative;
            border-radius: 20px;
            box-shadow: 0px 5px 10px 1px #dddddd5e;

            #image-resto-un {

                background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
                background-size: 360px;
                background-repeat: no-repeat;
                background-position: right 10% bottom 10%;
                height: 170px;
                border-radius: 20px 20px 0 0;

                #first-etiquette {

                    position: absolute;
                    width: 18%;
                    padding: 5px 10px;
                    margin: 0;
                    color: $color-td;
                    background: $color-tr;
                    font-family: $font-text;
                    font-weight: 600;
                    font-size: 0.9em;
                    border-radius: 2px;
                    top: 13px;
                    left: 235px;

                }

            }

            #image-resto-deux {

                background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
                background-size: 340px;
                background-repeat: no-repeat;
                background-position: right 10% bottom 39%;
                height: 170px;
                border-radius: 20px 20px 0 0;

                #second-etiquette {

                    position: absolute;
                    width: 18%;
                    padding: 5px 10px;
                    margin: 0;
                    color: $color-td;
                    background: $color-tr;
                    font-family: $font-text;
                    font-weight: 600;
                    font-size: 0.9em;
                    border-radius: 2px;
                    top: 13px;
                    left: 235px;

                }

            }

            #image-resto-trois {

                background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
                background-size: 340px;
                background-repeat: no-repeat;
                background-position: left 30% bottom 0%;
                height: 170px;
                border-radius: 20px 20px 0 0;

            }

            #image-resto-quatre {

                background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
                background-size: 350px;
                background-repeat: no-repeat;
                background-position: right 10% bottom 10%;
                height: 170px;
                border-radius: 20px 20px 0 0;

            }

            .card-bottom {

                display: flex;
                justify-content: space-between;
                background: $color-white;
                border-radius: 0 0 20px 20px;
                line-height: 23px;
                padding: 15px 10px;

                h3 {
                    margin: 0;
                    font-family: $font-text-bold;
                    font-size: 1.1em;

                }

                p {
                    margin: 0;
                    font-family: $font-text;
                    font-size: 1em;
                    color: $color-police-darkgrey;

                }

                .card-heart {

                    width: 27px;
                    height: 27px;
                    margin-top: 5px;
                    margin-right: 10px;

                    svg {

                        width: 27px;
                        height: 27px;
                        fill: $color-white;
                        stroke: $color-black;
                        stroke-width: 1;


                        &:hover {

                            fill: url(#gradient-heart);
                            stroke: transparent;

                        }

                    }
                }
            }
        }
    }
}