// import des paramètres

@import "../sass/settings.scss";
@import "../sass/layout/header.scss";
@import "../sass/layout/footer.scss";


// Bloc photo du menu

main {

    .space-pic {

        position: relative;
        width: 100%;
        height: 200px;

        @media (min-width: $lg) {

            height: 280px;
        }

        @media (min-width: $xl) {

            height: 360px;
        }

        #menu-pic-one {

            position: absolute;
            z-index: -1;
            background-image: url(./assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 240px;

            @media (min-width: $lg) {

                height: 300px;
            }

            @media (min-width: $xl) {

                height: 400px;
            }
        }

        #menu-pic-two {

            position: absolute;
            z-index: -1;
            background-image: url(./assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 240px;

            @media (min-width: $lg) {

                height: 300px;
            }

            @media (min-width: $xl) {

                height: 400px;
            }
        }

        #menu-pic-three {

            position: absolute;
            z-index: -1;
            background-image: url(./assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 240px;

            @media (min-width: $lg) {

                height: 300px;
            }

            @media (min-width: $xl) {

                height: 400px;
            }
        }

        #menu-pic-four {

            position: absolute;
            z-index: -1;
            background-image: url(./assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 240px;

            @media (min-width: $lg) {

                height: 300px;
            }

            @media (min-width: $xl) {

                height: 400px;
            }
        }
    }


    // Bloc box du menu

    section {

        .menu-box {

            background: $color-fond-whitegrey;
            padding: 12px;
            border-radius: 40px 40px 0 0;

            @media (min-width: $md) {

                padding: 40px;
            }

            @media (min-width: $lg) {

                width: 500px;
                margin: 0 auto;
                padding: 20px 130px;
                border-radius: 30px 30px 0 0;

            }

            @media (min-width: $xl) {

                width: 700px;
                margin: 0 auto;
                padding: 20px 180px;

            }

            .menu-title {

                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 15px 2px;

                @media (min-width: $lg) {

                    justify-content: center;
                    gap: 20px;

                }

                h2 {

                    font-family: $font-logo-title;
                    font-weight: 500;
                    font-size: 1.7em;
                    margin: 0;

                }

                .menu-heart {

                    width: 27px;
                    height: 27px;
                    margin-right: 20px;

                    svg {

                        width: 27px;
                        height: 27px;
                        fill: $color-fond-whitegrey;
                        stroke: $color-black;
                        stroke-width: 1;
                        transition: 0.2s ease;

                        &:hover {

                            fill: url(#gradient-heart);
                            stroke: transparent;
                            cursor: pointer;

                        }

                    }
                }
            }

            .menu-box-card {

                font-family: $font-text;

                h3 {

                    position: relative;
                    margin: 20px 0;
                    margin-top: 30px;
                    font-weight: 400;
                    font-size: 1em;


                    &::before {

                        content: "";
                        height: 3px;
                        width: 41px;
                        top: 23px;
                        position: absolute;
                        background: $color-tr;

                    }
                }

                @for $i from 1 through 4 {

                    .menu-card:nth-child(#{$i+1}) {

                        display: flex;
                        background: $color-white;
                        border-radius: 15px;
                        margin-bottom: 12px;
                        box-shadow: 0px 3px 10px 0px $shadow-card-menu;
                        animation: appear 0.8s;
                        animation-delay: $i * 0.5s;
                        animation-fill-mode: forwards;
                        opacity: 0;
                        width: 100%;

                        @keyframes appear {
                            0% {

                                transform: translateY(50%);
                                opacity: 0;
                            }

                            100% {

                                transform: translateY(0%);
                                opacity: 1;
                            }

                        }

                        &:hover {

                            cursor: pointer;

                            .content-box {

                                animation: notAppearContent 0.5s both;
                            }

                            .check-box {

                                animation: appearCheck 0.5s both;

                            }

                            @keyframes notAppearContent {
                                0% {
                                    width: 100%;
                                }

                                100% {
                                    width: 80%;
                                }
                            }

                            @keyframes appearCheck {
                                0% {
                                    width: 0%;
                                }

                                100% {
                                    width: 20%;
                                }
                            }

                            @media (min-width: $sm) {

                                @keyframes notAppearContent {
                                    0% {
                                        width: 100%;
                                    }

                                    100% {
                                        width: 85%;
                                    }
                                }

                                @keyframes appearCheck {
                                    0% {
                                        width: 0%;
                                    }

                                    100% {
                                        width: 15%;
                                    }
                                }

                            }

                        }

                        &:not(:hover) {

                            .content-box {

                                animation: appearContent 0.5s both;
                            }

                            .check-box {

                                animation: notAppearCheck 0.5s both;

                            }

                            @keyframes appearContent {
                                0% {
                                    width: 80%;
                                }

                                100% {
                                    width: 100%
                                }
                            }

                            @keyframes notAppearCheck {
                                0% {
                                    width: 20%;
                                }

                                100% {
                                    width: 0%
                                }
                            }

                            @media (min-width: $sm) {

                                @keyframes appearContent {
                                    0% {
                                        width: 85%;
                                    }

                                    100% {
                                        width: 100%
                                    }
                                }

                                @keyframes notAppearCheck {
                                    0% {
                                        width: 15%;
                                    }

                                    100% {
                                        width: 0%
                                    }
                                }

                            }
                        }

                        .content-box {

                            display: flex;
                            justify-content: space-between;
                            flex-direction: row;
                            padding: 8px 12px;
                            width: 100%;


                            .menu-one {

                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                gap: 5px;
                                width: 85%;

                                @media (min-width: $md) {

                                    width: 90%;
                                }

                                h4 {

                                    margin: 0;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    width: 100%;
                                }

                                p {

                                    margin: 0;
                                    font-size: 0.9em;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                }
                            }

                            .prix {

                                display: flex;
                                align-items: flex-end;
                                justify-content: end;
                                width: 15%;

                                @media (min-width: $md) {

                                    width: 10%;
                                }

                                p {

                                    margin: 0;
                                    margin-bottom: 3px;
                                    font-family: $font-text-bold;
                                    font-size: 0.9em;
                                }
                            }
                        }

                        .check-box {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 0%;
                            height: 65px;
                            background: $color-tr;
                            border-radius: 0px 15px 15px 0px;
                            overflow: hidden;



                            // i {


                            // }

                        }
                    }
                }
            }

            .btn {

                display: flex;
                justify-content: center;

                button {
                    font-family: $font-text;
                    padding: 15px 15px;
                    width: 200px;
                    margin: 30px 0;
                    border-radius: 30px;
                    border: none;
                    font-weight: 500;
                    font-size: 1em;
                    color: $color-white;
                    background-image: linear-gradient(to top, $color-primary, $color-secondary);
                    box-shadow: 0px 3px 10px $color-grey;
                    transition: 0.4s ease;

                    &:hover {
                        cursor: pointer;
                        filter: brightness(1.15);
                        box-shadow: 0px 2px 8px 4px $color-grey;
                    }
                }
            }
        }
    }
}