// Couleur du site

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tr: #99E2D0;
$color-td: #008766;

// Nuance du site

$color-fond-gris: #EAEAEA;
$color-fond-whitegrey: #F6F6F6;
$color-black: #000000;
$color-midgrey: #5e5e5e;
$color-grey: #a5a5a5;
$color-white: #ffffff;

// Nuance shadows

$shadow-light-grey: #dddddd;
$shadow-card: #dddddd5e;
$shadow-card-menu: #d3d3d3ab;

// Nuance police

$color-police-darkgrey: #353535;

// Police du site

@font-face {
    font-family: 'Shrikhand';
    src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto bold';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}


// Mixins et variables

$font-logo-title: 'Shrikhand';

$font-text: 'Roboto';

$font-text-bold: 'Roboto bold';

// Ajustement du site

* {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    background: $color-fond-gris;
}