// import des paramètres

@import "../settings.scss";


// Paramètres du footer

footer {

    .footer-bloc {

        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background: $color-police-darkgrey;
        color: $color-white;
        padding: 25px;

        @media (min-width: $md) {

            flex-direction: row-reverse;
            justify-content: flex-start;
            padding-top: 50px;
            padding-bottom: 20px;
            gap: 30px;
        }

        @media (min-width: $lg) {

            padding: 70px;
            padding-top: 60px;
            padding-bottom: 30px;
            gap: 80px;

        }


        h4 {
            margin: 0;
            font-size: 1.1em;
            font-family: $font-logo-title;
            font-weight: 500;

            @media (min-width: $md) {

                margin: 0;
                justify-content: center;
                align-items: center;
                font-size: 1.1em;
            }
        }

        .footer-object {

            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 5px;
            margin: 0;
            margin-top: 15px;

            @media (min-width: $md) {

                flex-direction: row;
                align-items: center;
                gap: 15px;
                margin: 0;
            }

            @media (min-width: $lg) {

                gap: 40px;
            }

            .footer-important {

                display: flex;
                flex-direction: column;
                gap: 5px;

                @media (min-width: $md) {

                    flex-direction: row;
                    align-items: center;
                    margin: 0;
                    gap: 15px;
                }

                .footer-icon {
                    text-decoration: none;
                    font-family: $font-text;
                    gap: 10px;


                    i {

                        margin-right: 10px;
                        color: $color-white
                    }

                }

                a {

                    text-decoration: none;
                    font-family: $font-text;
                    color: $color-white;

                    &:visited {
                        color: $color-white;
                    }

                    &:active {
                        color: $color-white;
                    }

                }
            }

            .footer-secondary {

                display: flex;
                flex-direction: column;
                gap: 5px;

                @media (min-width: $md) {

                    flex-direction: row;
                    align-items: center;
                    margin: 0;
                    gap: 15px;
                }

                a {

                    text-decoration: none;
                    font-family: $font-text;
                    color: $color-white;

                    &:visited {
                        color: $color-white;
                    }

                    &:active {
                        color: $color-white;
                    }

                }
            }
        }
    }
}