// import des paramètres

@import "../settings.scss";

// Ajustement du header-homepage

header {

    .navhomepage {

        display: flex;
        justify-content: center;
        padding: 10px 0;
        background: $color-white;
        box-shadow: 0px 1px 5px $color-grey;

        @media (min-width: $lg) {

            padding: 20px 0;
            box-shadow: none;
        }

        img {
            height: 30px;
            margin-top: 10px;
        }

    }

    .navmenu {

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        background: $color-white;
        box-shadow: 0px 1px 5px $color-grey;

        @media (min-width: $lg) {

            padding: 20px 0;
            box-shadow: none;
        }

        img {
            height: 30px;
            margin-top: 10px;
        }

        div {

            a {

                position: absolute;
                left: 20px;
                top: 25px;

                @media (min-width: $lg) {

                    top: 33px;
                }

                i {

                    transition: 0.4s ease;

                    &:hover {

                        filter: opacity(0.5);

                    }

                }

                // img {

                // }
            }
        }

    }
}