// import des paramètres

@import "./settings.scss";


// Paramètres du footer

footer {

    .footer-bloc {

        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background: $color-police-darkgrey;
        color: $color-white;
        padding: 25px;

        h4 {
            margin: 0;
            font-size: 1.1em;
            font-family: $font-logo-title;
            font-weight: 500;
        }

        ul {

            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 8px;
            margin: 0;
            margin-top: 15px;

            li {

                list-style: none;

                .footer-icon {
                    text-decoration: none;
                    font-family: $font-text;
                    gap: 10px;


                    i {

                        margin-right: 10px;

                    }

                }

                a {

                    text-decoration: none;
                    font-family: $font-text;
                    color: $color-white;

                    &:visited {
                        color: $color-white;
                    }

                    &:active {
                        color: $color-white;
                    }

                }

            }

        }


    }

}