// Couleur du site

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tr: #99E2D0;

// Police du site

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-logo-title: 'Shrikhand';

$font-text: 'Roboto';

// Mixins